<div class="card" style="width: 100%; margin-left: 5%; border-radius: 15px;margin-top: 2.5%;padding-bottom: 1em;" dir="rtl">
    <div class="card-body">
        <div class="row">
        <h6 class="card-subtitle mb-2 text-body-secondary resourceheader col-3">{{'Choose the resource type'|translate }}</h6>
        <div class="form-check col-3">
        <input type="radio" name="flexRadioDefault3" id="flexRadio" style="accent-color: none;" >
        <label class="form-check-label" for="flexRadio" class="cardlabels">
            {{'Book during the day'|translate}}
           </label>
           </div>
           <div class="form-check col-4">
            <input type="radio" name="flexRadioDefault3" id="flexRadio" style=" accent-color: none; ">
            <label class="form-check-label" for="flexRadio" class="cardlabels">
                {{'Booking period (more than one day)'|translate}}
               </label>
               </div>
    </div>
            </div>
            </div>

